/* File: style.css */

.contact-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0077cc;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid #004c80;
    z-index: 9999;
    width: 180px;
    text-align: center;
    transition: 0.3s ease;
}

.contact-widget a {
    color: yellow;
    text-decoration: none;
}

.contact-widget:hover {
    background-color: #005fa3;
    cursor: pointer;
}
