body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    height: 100vh;
    position: relative;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.box {
    position: absolute;
    width: 150px;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.red {
    background-color: red;
    top: 50px;
    left: 50px;
    z-index: 1;
}

.blue {
    background-color: blue;
    top: 100px;
    left: 100px;
    z-index: 2;
}

.green {
    background-color: green;
    top: 150px;
    left: 150px;
    z-index: 3;
}
