
.title {
    text-align: center;
    margin-bottom: 20px;
}



.overflow-box {
    width: 300px;        
    height: 200px;       
    border: 2px solid #444;
    padding: 10px;
    background-color: #f7f7f7;


}
